[settings]
line_length = 99
import_heading_stdlib = Standard library modules
import_heading_localfolder = Application-specific modules
import_heading_thirdparty = Third-party modules
import_heading_firstparty = Organization-specific modules
lines_before_imports = 1
lines_after_imports = 2