name: ci
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
  release:
    types: [created]  # Only publish on tagged releases
jobs:
  codespell_and_ruff:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: astral-sh/ruff-action@v3
        with:
          version: latest
      - run: pipx run 'codespell[toml]' **/*.py **/*.txt --skip="venv/lib/python3*"

  ci:
    needs: [codespell_and_ruff]
    strategy:
      fail-fast: false
      matrix:  # macos-15-intel runs on Intel, macos-latest runs on Apple Silicon M1 ARM
        os: [macos-15-intel, macos-latest, ubuntu-latest, ubuntu-24.04-arm, windows-latest]
        # `windows-11-arm` is blocked by CristiFati/pyaudio#15
        python-version: ['3.14']
        include:
          - os: ubuntu-latest
            python-version: '3.12'
          - os: ubuntu-latest
            python-version: '3.10'
          # - os: windows-latest
          #   python-version: '3.13'
        exclude:
          - os: windows-latest
            python-version: '3.14'
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          allow-prereleases: true
      - uses: astral-sh/setup-uv@v7
        with:
          activate-environment: true
          version: latest
      # OS-specific dependencies
      - if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get install fluidsynth libasound-dev portaudio19-dev python3-pyaudio
      - if: runner.os == 'macOS'
        run: |
          brew install fluid-synth
          echo "DYLD_LIBRARY_PATH=$(brew --prefix fluid-synth)/lib/" >> $GITHUB_ENV
      - if: runner.os == 'Windows'
        run: choco install fluidsynth
      # Run pytests
      - run: uv pip install pytest
      - run: uv pip install --editable .
      - run: pytest
      # Import fluidsynth and document OS-specific values
      - shell: python
        name: "import fluidsynth on ${{ matrix.os }} on ${{ runner.arch }}"
        run: |
          import os
          print(f"import fluidsynth on {os.getenv('ImageOS')} on {os.getenv('RUNNER_ARCH')}")
          import fluidsynth
          print(fluidsynth)
          print(dir(fluidsynth))
      # Run OS-specific examples in the test directory
      # NOTE: The files in test/ are NOT unit tests or pytests.
      # On macOS ARM64 the following tests will pass but each takes 8 minutes to run.
      # On macOS X64 all tests will pass quickly.
      - if: runner.os == 'macOS' && runner.arch == 'X64'
        run: |
          python test/test1.py
          python test/test2.py
          python test/test3.py
          python test/sequencerTest.py
      - if: runner.os == 'Linux'
        run: |
          python test/test1.py
          python test/test3.py
          python test/sequencerTest.py
      # On Windows all tests will pass quickly.
      - if: runner.os == 'Windows'
        run: |
          python test/test1.py
          python test/test2.py
          python test/test3.py
          python test/sequencerTest.py

  build:
    needs: [ci]
    runs-on: ubuntu-latest
    permissions:
      id-token: write 

    steps:
      - uses: actions/checkout@v5
      - uses: astral-sh/setup-uv@v7
        with:
          version: latest

      - name: Clean previous builds
        run: rm -rf dist

      - name: Build package
        run: |
          uv build
          uvx twine check --strict dist/*
          ls -la dist

      - name: Upload dist directory as artifact
        uses: actions/upload-artifact@v5
        with:
          name: dist
          path: dist

  pypi-publish:
    needs: [build]
    name: upload release to PyPI
    if: github.event_name == 'release' && github.event.action == 'created'  # Only on release creation
    runs-on: ubuntu-latest
    # Specifying a GitHub environment is optional, but strongly encouraged
    environment: release
    permissions:
      # IMPORTANT: this permission is mandatory for trusted publishing
      id-token: write
    steps:
      - name: Download dist artifact
        uses: actions/download-artifact@v6
        with:
          name: dist
          path: dist
      - run: ls -la
      - run: ls -la dist || true
      - uses: astral-sh/setup-uv@v7
        with:
          version: latest
      - run: uv publish
